<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Criar Clientes</title>
  </head>

  <body>
    <h1>Cadastro de Clientes</h1>
    <form method="post" action=".">
      {% csrf_token %} {{ form.as_p }}
      <input type="submit" value="Salvar" />
      <input
        type="reset"
        value="Cancelar"
        onclick="location.href = '{% url 'myapp:list' %}'"
      />
    </form>
  </body>
</html>
